.lastfm-settings-container {
  .lastfm-status-card {
    width: 100%;
    padding: 20px;
    margin-bottom: 1rem;

    small {
      font-size: smaller;
    }
    h1 {
      margin-bottom: 0.25rem;
    }
  }
}
