.lastfm-settings-container {
  .updatesEvery,
  small {
    font-size: smaller;
    margin-bottom: 0.5rem;
  }
  .lastfm-status-card {
    width: 100%;
    padding: 20px;
    margin-bottom: 1rem;

    h1 {
      margin-bottom: 0rem;
    }
    .status {
      white-space: pre-wrap;
      min-height: 3em;
    }
  }
}
